<template>
    <div>
        <label for="todoInput">Not : </label><br />
        <input v-model="todo" type="text" id="todoInput">

        <button @click="addTodo" id="addTodoButton">Ekle</button>
    </div>
</template>

<script>
    import { mapActions } from 'vuex';

    export default {
        name: 'AddTodo',
        data() {
            return {
                todo: ""
            }
        },
        methods: {
            ...mapActions([
                'addNewTodoItem',
            ]),
            addTodo(){
                const todoItem = {
                    title : this.todo
                }

                this.addNewTodoItem(todoItem);
                this.todo = ""
            }
        }
    }
</script>

<style scoped>

</style>
