<template>
    <div class="todoItem">
        {{ item.title }}
    </div>
</template>

<script>
    export default {
        name: 'Todo',
        props: {
            item: Object
        }
    }
</script>
