<template>
  <div>
    <ul id="todoList">
      <li v-for="item in getTodoItems" :key="item.title">
        <Todo :item="item"></Todo>
      </li>
    </ul>
  </div>
</template>

<script>
  import {mapActions, mapGetters} from 'vuex';
  import Todo from "./Todo";

  export default {
    name: 'TodoList',
    components: {Todo},
    computed : {
      ...mapGetters([
        'getTodoItems',
      ]),
    },
    methods: {
      ...mapActions([
        'getAllTodoItems',
      ]),
      getTodos(){
        this.getAllTodoItems();
      },
    },
    created() {
      this.getTodos();
    }
  }
</script>

<style scoped>

</style>
