<template>
  <div id="app">
    <AddTodo></AddTodo>
    <TodoList></TodoList>
  </div>
</template>

<script>

import TodoList from "./components/TodoList";
import AddTodo from "./components/AddTodo";

export default {
  name: 'App',
  components: {
    AddTodo,
    TodoList
  }
}
</script>

<style>

</style>
